body {
    font-family: Arial, sans-serif;
    background: black
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    margin: 0;
  }
  
  .player-container {
    background: rgba(107, 37, 148, 0.966);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.466);
    display: inline-block;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  audio {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
  }
  
  p {
    font-size: 1em;
    margin-top: 10px;
  }
  