body {
  font-family: Arial, sans-serif;
  background-color: dimgray;
  text-align: center;
  padding: 20px;
  margin: 0;
}

player-container {
  color: blueviolet;

}
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

audio {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}

p {
  font-size: 1em;
  margin-top: 10px;
}
